<a name="exercises" href="#exercises"></a>
<h2>Exercises</h2>

<a name="1"></a>
<span style="font-size:22px;">1. What is a <i>resource</i>?</span>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/configure-a-resource/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>

<a name="2"></a>
<span style="font-size:22px;">2. What is a <i>recipe</i>?</span>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/configure-a-resource/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>

<a name="3"></a>
<span style="font-size:22px;">3. What happens when you don't specify a resource's action?</span>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/configure-a-resource/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
<hr>

<a name="4"></a>
<span style="font-size:22px;">4. Modify the <code class="file-path">hello.rb</code> recipe you wrote in this lesson to manage the INI file under the <code class="file-path">C:\temp\messages</code> directory, and not in the current directory.</span>
<p/>
<p>
<b>Hint</b>: You'll need to create the <code class="file-path">C:\temp\messages</code> directory first. The <%= link_to 'documentation', "#{chef_docs_url}/resource_directory.html", target: '_blank' %>  for the <code>directory</code> resource shows you how.
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question4" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/configure-a-resource/exercises/answers/4" %>
    </div>
  </dd>
</dl>
</p>
