---
title: 'Conclusion'
order: 8
layout: step
description: TODO
keywords: TODO
---
That's all we have for now. Please check back soon for more!

In the meantime, here are some things you can try.

* If you bootstrapped using one of our test servers, try configuring a spare server of your own.
* Explore the [<%= t(:management_console) %>](<%= chef_manage_url %>). See what info's available for your nodes and what else you can do.
* Try writing a cookbook to install and configure a piece of software you use. Check out the [Chef Supermarket](<%= supermarket_url %>) to see if there's already an existing cookbook for that, and compare what the differences are.
* After you get the hang of Chef's basic commands, check out the [documentation](<%= chef_docs_url %>) to go deeper.

If you run into trouble:

* email us at <a href="mailto:learnchef@<%= chef_domain %>?subject=Feedback on Learn Chef">learnchef@<%= chef_domain %></a>.
* ask for help at [#chef](irc://irc.freenode.net/chef) on IRC.
* connect directly with one of our engineers during weekly [office hours](https://www.chef.io/contact/office-hours-registration/).
