<% wrap_layout :layout do %>

  <h1><%= data.page.title %></h1>
  <%= yield %>
  <div class="row">
    <div class="large-6 columns">
      <div class="flex-video">
        <iframe src="<%= data.page.video %>" frameborder="0" allowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="large-6 columns">
      <% if data.page.image %>
        <% link_to asset_path(:images, "concepts/#{data.page.image}"), :target => '_blank' do %>
          <%= image_tag "concepts/#{data.page.image}" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/social/disqus' %>

<% end %>
