---
title: 'Exercises & next lesson'
order: 6
layout: step
description:
---
<a name="1"></a>
<span style="font-size:22px;">1. Are these two recipes the same?</span>

```ruby
# webserver.rb
powershell_script 'Install IIS' do
  code 'Add-WindowsFeature Web-Server'
  guard_interpreter :powershell_script
  not_if "(Get-WindowsFeature -Name Web-Server).Installed"
end

service 'w3svc' do
  action [:start, :enable]
end
```

```ruby
# webserver.rb
service 'w3svc' do
  action [:start, :enable]
end

powershell_script 'Install IIS' do
  code 'Add-WindowsFeature Web-Server'
  guard_interpreter :powershell_script
  not_if "(Get-WindowsFeature -Name Web-Server).Installed"
end
```

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. Are these two `service` resources the same?</span>

```ruby
# webserver.rb
service 'w3svc' do
  action [:enable, :start]
end
```

```ruby
# webserver.rb
service 'w3svc' do
  action [:start, :enable]
end
```

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. Are these two recipes the same?</span>

```ruby
# file.rb
file 'C:\temp\settings.ini' do
  owner 'root'
  group 'root'
  mode '0755'
  action :create
end
```

```ruby
# file.rb
file 'C:\temp\settings.ini' do
  action :create
  mode '0755'
  group 'root'
  owner 'root'
end
```

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

<hr>

<a name="4"></a>
<span style="font-size:22px;">4. Write a `service` resource that stops and then disables the W3SVC service from starting when the system boots.</span>

**Hint**: The [documentation][service] for the `service` resource lists the available actions.

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer &raquo;</a>
    <div id="question4" class="box content">
      <%= partial "answers/_4" %>
    </div>
  </dd>
</dl>

-- --

## Next lesson

You may notice one big problem with our recipe &ndash; the HTML code lives inside it, so there is no clear separation between our web site code and our recipe to manage it. It's a good incremental step because it helps you get things working, but this of course would never scale to a full web site.

Next you'll learn how to create a _cookbook_ to make your Chef recipes more manageable.

[service]: <%= chef_docs_url %>/resource_service.html
