---
title: Chef Server
order: 1
description: Stores configuration data and re-usable templates, coordinates infrastructure-wide activities
---

# The Chef Server

The Chef Server is the brains of the operation. It stores configuration data and re-usable components ("<%= link_to 'Cookbooks', '/concepts/cookbooks' %>"), enables complex automation tasks through the use of search, and tracks the results of Chef's actions across your environment.

The best way for new Chef users to set up a Chef Server is to sign up for a free trial of Hosted Enterprise Chef.

The Organization included in the trial is the Chef Server you will use for the exercises on Learn Chef.

[INFO] Later on, if you would prefer to install and maintain your own Chef Server locally, you can do so with either <%= link_to 'Enterprise Chef', ec_sign_up_url, target: '_blank' %> or the <%= link_to 'Open Source Chef Server', chef_install_url, target: '_blank' %>.

[INFO] If you already have a Chef Server, configuration file, and keys for access, you can <%= link_to 'skip to Step Two &rarr;', 'workstation' %>.

## Sign Up

<%= link_to 'Sign up for a free trial of Hosted Enterprise Chef', hec_sign_up_url %> by filling out the form on our sign up page (see below).

<%= image_tag 'quickstart/chef-server/sign-up-screen.png' %>

## Download and Extract the Starter Kit

After completing the form pictured above, you will be taken to a landing page within the Hosted Enterprise Chef Management Console (see picture below). Perform the following:

* Click the "Starter Kit" link on the left.
* Click "Proceed" to allow your keys to be reset.
* Extract the Starter Kit into your home directory. (It will extract as "chef-repo". More on that later.)

<%= image_tag 'quickstart/chef-server/landing-screen.png' %>

You now have a Chef Server and everything you'll need to start using it.

<p align="center">
  <%= link_to 'Proceed to Step Two: Workstation &rarr;', 'workstation', class: 'button radius' %>
</p>
