---
title: 'Exercises & next lesson'
order: 5
layout: step
description:
---
<span style="font-size:22px;">1. What is a node?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. What information do you need to in order to bootstrap?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. What happens during the bootstrap process?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

<hr>

<a name="4"></a>
<span style="font-size:22px;">4. Which of the following lets you verify that your node has successfully bootstrapped?</span>

1. The [<%= t(:management_console) %>](<%= chef_manage_url %>/organizations).
1. `knife node list`
1. `knife node show`

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer &raquo;</a>
    <div id="question4" class="box content">
      <%= partial "answers/_4" %>
    </div>
  </dd>
</dl>

-- --

## Next lesson

Next let's spice things up and add some info about your web server to your home page.

[service]: <%= chef_docs_url %>/resource_service.html
