---
title: 'Exercises & conclusion'
order: 6
layout: step
description: TODO
keywords: TODO
---
<span style="font-size:22px;">1. What is the command you use to upload a cookbook to the Chef server?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. How do you apply an updated cookbook to your node?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. Update your IIS cookbook to display your node's host name, platform, and number of CPUs in addition to its FQDN on the home page.</span>

**Hint:** [the documentation](<%= chef_docs_url %>/attributes.html#automatic-ohai) lists common node attributes.

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

-- --

## Conclusion

That's all we have for now. Please check back soon for more!

In the meantime, here are some things you can try.

* If you bootstrapped using one of our test servers, try configuring a spare server of your own.
* Explore the [<%= t(:management_console) %>](<%= chef_manage_url %>). See what info's available for your nodes and what else you can do.
* Try writing a cookbook to install and configure a piece of software you use. Check out the [Chef Supermarket](<%= supermarket_url %>) to see if there's already an existing cookbook for that, and compare what the differences are.
* After you get the hang of Chef's basic commands, check out the [documentation](<%= chef_docs_url %>) to go deeper.

If you run into trouble:

* email us at <a href="mailto:learnchef@<%= chef_domain %>?subject=Feedback on Learn Chef">learnchef@<%= chef_domain %></a>.
* ask for help at [#chef](irc://irc.freenode.net/chef) on IRC.
* connect directly with one of our engineers during weekly [office hours](https://www.chef.io/contact/office-hours-registration/).
