<button class="button radius cta chef-lab-provisioner" provisioner="<%= provisioner %>" type="<%= type %>">
  <% article = %w(a e i o u).include?(os[0].downcase) ? 'an' : 'a' %>
  <i class='fa fa-external-link'></i>
  Launch <%= article %> <%= os %> virtual machine
</button>

<div id="<%= provisioner %>-modal" class="reveal-modal" data-reveal>
  <p>
    We'll open your virtual machine in a new window.  When it finishes loading, click
    <strong><%= env_name %></strong>.
  </p>
  <p>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/images/skytap/launch-environment-<%= os.downcase.gsub(/\s+/, '') %>.png">
  </p>
  <p>
    On the next page, click the <strong>Play</strong> button to start using the virtual machine.
  </p>
  <p>
    You'll have access to the virtual machine for 12 hours. The remaining time is displayed in the upper right corner of the window.
  </p>
  <p>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/images/skytap/time-remaining.png">
  </p>
  <p>
    The session suspends after a period of inactivity. If you need to take a break, click the <strong>Credentials</strong> button to get the password for the <strong><%= user_name %></strong> user so you can log back in to your session.
  </p>
  <div class="controls">
    <button class="button radius cta chef-lab-provisioner" provisioner="<%= provisioner %>" type="<%= type %>" force="true">Launch the virtual machine</button>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
