<h2>Exercises</h2>
<p>
The two appendices that follow are optional. Even if you plan to work through them, now's a good time to test your understanding of what you've learned so far.
</p>
<p>
<span style="font-size:22px;">1. Explain the difference between ChefSpec and InSpec tests. Do you need both ChefSpec and InSpec tests for every feature in your cookbook?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="content">
      <%= partial "../../shared/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. Why is it important to run lint tools such as RuboCop and Foodcritic on your cookbooks?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="content">
      <%= partial "../../shared/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Write a cookbook based solely on the following InSpec test.</span>
<%= partial '/test-your-infrastructure-code/rhel/verify-your-code-adheres-to-the-style-guide/exercises/inspec_tests' %>
</p>
<p>
This question is more challenging, so it's OK if you need to follow along with the answer.
</p>
<p>
<b>Hint:</b> You can find a cookbook for the Postfix mail server on <a href="https://supermarket.chef.io/">Chef Supermarket</a>. Find the necessary node attributes and add them to your default attributes file or to the <code>attributes</code> section of your <code class="file-path">.kitchen.yml</code> file.
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="content">
      <%= partial "../../shared/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="4"></a>
<span style="font-size:22px;">4. Write at least one InSpec test to verify a piece of configuration that you manage on a daily basis.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question4" class="content">
      <%= partial "../../shared/exercises/answers/4" %>
    </div>
  </dd>
</dl>
</p>
