---
title: 'Exercises'
order: 7
layout: step
---
<a name="1"></a>
<span style="font-size:22px;">1. What is a resource?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. What is a recipe?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. What happens when you don't specify a resource's action?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

<hr>

<a name="4"></a>
<span style="font-size:22px;">4. Modify the `hello.rb` recipe you wrote in this lesson to manage the MOTD file under the `/tmp/messages` directory, and not in the current directory.</span>

To get you started, here's what the original `hello.rb` file.

```ruby
# ~/chef-repo/hello.rb
file 'motd' do
  content 'hello world'
end
```

**Hint**: You'll need to create the `/tmp/messages` directory first. The [documentation][directory] for the `directory` resource shows you how.

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer &raquo;</a>
    <div id="question4" class="box content">
      <%= partial "answers/_4" %>
    </div>
  </dd>
</dl>

<hr>

## Next

Of course, your job is about more than just setting up files. Next you'll apply what you've learned to install and configure a package and service.

[directory]: <%= chef_docs_url %>/resource_directory.html
